[submodule "sfp-access-port-hardware"]
	path = sfp-access-port-hardware
	url = https://github.com/Cyclomatic-Dev/sfp-access-port-hardware
[submodule "sfp-access-port-firmware"]
	path = sfp-access-port-firmware
	url = https://github.com/Cyclomatic-Dev/sfp-access-port-firmware
[submodule ".\\sfp-access-port-firmware\\"]
	branch = main
[submodule ".\\sfp-access-port-hardware\\"]
	branch = main
